

/*-----------------------------------
google font
----------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*........................
Global style 
.........................*/

*{
    margin:0;
    padding: 0;
}

:root{
    --header-color:#2D25A0;
    --skin-color: #F2F2F2;
    --white-color: #ffffff;
    --btn-color:#E02C6D;
    --p-color:#6C6C6C;

}

body{
    background-color: var(--skin-color);
    font-family: 'Poppins', sans-serif;
}
p{
    padding-top:10px;
    color: var(--p-color);
}

.container{
    width: 90%;
    margin: auto;
    
}

.btn{
    background-color:var(--btn-color);
   display: block;
   font-size: 16px;
    width: 123px;
    height: 44px;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 0px 10px;
    color: #ffffff;
    text-decoration: none;
    
    position: relative;
}
.btn::after{
    content: '';
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    border-bottom: 3px solid var(--white-color);
    position: absolute;
   transition: .5s all;
}
.btn:hover::after{
    width: 100%;
    
}
.btn i {
    padding: 0 5px ;
}

.w-5{
    width: 50%;
}


/*..............................
Header section 
................................*/


.header{
    background-color: var(--header-color);
}

nav{
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-color);
}
.nav{
    display: flex;
}
.nav .nav-item{
    list-style: none;
    padding: 10px;
}
.nav .nav-link{
    text-decoration: none;
    color: var(--white-color);
}

.bannar{
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    color: var(--white-color);
   
}
.banner-left h1{
        font-weight: bold;
        width: 475px;
        font-size: 64px;
}
.bannar-right{
    width: 556.01px;
    height: 438px;
    overflow: hidden;
    padding: 80px;
}
.bannar-right:hover img{
    transform:scale(1.1);

}
.bannar img{
    width: 100%;
    transition: .5s ease;
}


/* -------------------------------
player section 
--------------------------------*/

.players {
    background-color: var(--skin-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 65px;
}

.player{
    overflow: hidden;
    width: 330px ;
    height: 438px;
    padding: 15px;
    margin: 15px;
    box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 15%);
}
.player-image{
    width: 330px;
}
.player-image img{
    width: 100%;
}
.player-des{
    margin-top: 16px;
}
/*-----------------------------------
highlight section 
---------------------------------- */

.hightlight {
    margin-top: 100px;
    bottom: 58px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.highlight-info{
 width: 469px;
}
.highlight-info h1{
    font-size: 48px;
    font-weight: 700;
    text-align: left;
}
.watch-btn {
    margin-top: 24px;
    
   
}
.highlight-image{
    width: 597px;
}
.highlight-image img{
    width: 100%;
}

/* Stay with us section  */
.newslater{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
}
.newslater>h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Font Awesome 5 Brands';
}
form{

    display: flex;
    width: 500px;
    flex-direction: column;
    justify-content: center;
   
}
.form-info{
padding-bottom: 30px;
display: flex;
flex-direction: column;
justify-content: center;
}
.form-info>input{
    padding: 10px;
}

/*---------------------- 
footer sention 
----------------------*/

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.footer-img{
    width: 484px;
}
.footer-img img{
    width: 100%;
}
.social-icon a{
    text-decoration: none;
    color: #ffffff;
}
.social-icon i{
    padding: 10px;
    border-radius: 50%;
    background-color: var(--btn-color);
}

/*--------------------------
medeia query for mobile 
-------------------------*/

@media only screen and (max-width:688px ){
    .bannar {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        color: var(--white-color);
    }
}